<div class="container">
  <div class="jumbotron">
    <h1 class="display-4 text-center">Demo Voice Recognition</h1>
    <hr class="my-4">
    <div class="form-group">
      <div class="row">
        <div class="col-11">
          <textarea placeholder="Click on the microphone icon and speak to start voice recognition" class="form-control"
            id="exampleFormControlTextarea1" rows="3">{{title}}</textarea>
        </div>
        <div class="col-1">
          <i (click)="Record();" class="fa fa-microphone fa-4x"></i>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-11">
          <input type="search" class="form-control" id="Search" value="{{search}}"
            placeholder="Click on the microphone icon and speak to start the search on google">
        </div>
        <div class="col-1">
            <i (click)="Search();" class="fa fa-microphone fa-2x"></i>
          </div>
      </div>
    </div>
  </div>

</div>




<router-outlet></router-outlet>
